body{
  font-size: larger;
  margin: 4%;
}

h1{
  font-family: cursive;
  font-style: italic;
  font-size: 4em;
  margin-left: 4%;
}
hr{
  border: none;
  height: 2px;
  background-color: #e1a23f;
  margin: 1em 0;
}